@model Biblioteca.Domain.Entities.Revista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Revista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalavraChave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalavraChave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sinopse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sinopse)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
